# node modules
node_modules/

# Hardhat files
artifacts/
cache/
typechain/

# environment variables
.env

# frontend build files
frontend/node_modules/
frontend/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# vscode settings
.vscode/

# coverage
coverage/

# misc
*.log